# **Bikes Price Prediction**

In [61]:
import numpy as np
import pandas as pd

In [62]:
# Used for Reading the file
my_file = pd.read_csv("dataset/Used_Bikes.csv") 

# Used to store the file into a dataframe
df = pd.DataFrame(my_file)

In [63]:
df['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth Owner Or More'], dtype=object)

In [64]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [65]:
df.dropna(inplace = True)

In [66]:
df.duplicated().sum()

np.int64(25324)

In [67]:
df.drop_duplicates(inplace = True)
df.duplicated().sum()

np.int64(0)

In [68]:
df.drop(columns = ['bike_name'], inplace=True)

In [69]:
df.drop(columns = ['city'], inplace = True)

In [70]:
df['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth Owner Or More'], dtype=object)

In [71]:
dt = {
    "First Owner" : 1,
    "Second Owner" : 2,
    "Third Owner" : 3,
    "Fourth Owner Or More" : 4
}
df['owner'] = df['owner'].map(dt)

In [72]:
df['owner'].unique()

array([1, 2, 3, 4])

In [73]:
brand_mapping = {brand: idx + 1 for idx, brand in enumerate(df['brand'].unique())}
df['brand'] = df['brand'].map(brand_mapping)

In [74]:
df['brand'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23])